---
import Icon from "../../components/Icon.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  breadcrumbItems={[
    { href: "./perfil", slot: "Perfil" },
    { href: "./perfil/configurar", slot: "Configurar" },
  ]}
  title="Configurar perfil"
>
  <div class="row user">
    <div class="col-md-12">
      <div class="profile">
        <div class="info">
          <img class="user-img" src="./images/user-avatar.png" />
          <h4>John Doe</h4>
          <p>FrontEnd Developer</p>
        </div>
        <div class="cover-image"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tile p-0">
        <ul class="nav flex-column nav-tabs user-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="#user-settings"
              data-bs-toggle="tab"
            >
              Datos personales
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="tab-content">
        <div class="tab-pane active" id="user-settings">
          <div class="tile user-settings">
            <h4 class="line-head">Datos personales</h4>
            <form method="post">
              <div class="row mb-4">
                <div class="col-md-6">
                  <label>Nombre</label>
                  <input class="form-control" name="name" required />
                </div>
                <div class="col-md-6">
                  <label>Apellido</label>
                  <input class="form-control" name="lastName" required />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label>Correo electrónico</label>
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    required
                  />
                </div>
                <div class="col-md-12 mb-4">
                  <label>Teléfono personal</label>
                  <input class="form-control" type="tel" name="tel[personal]" />
                </div>
                <div class="col-md-12 mb-4">
                  <label>Teléfono laboral</label>
                  <input class="form-control" type="tel" name="tel[job]" />
                </div>
                <div class="col-md-12 mb-4">
                  <label>Teléfono de hogar</label>
                  <input class="form-control" type="tel" name="tel[home]" />
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-md-12">
                  <button class="btn btn-primary w-100">
                    <Icon name="check-circle-fill" class="me-2" />
                    Guardar cambios
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
