---
import Head from "@/components/Head.astro";
import PageNotFound from "@/components/PageNotFound.astro";
---

<!doctype html>
<html>
  <Head title="Página no encontrada" />
  <body>
    <main class="app-content m-0">
      <PageNotFound />
    </main>
  </body>
</html>

<style>
  main {
    min-height: 100vh;
  }
</style>
