---
import Head from "@/components/Head.astro";
import Icon from "@/components/Icon.astro";
import Input from "@/components/Input.astro";
import Scripts from "@/components/Scripts.astro";
import { htmlPattern, patternTitles } from "@/patterns";
---

<!doctype html>
<html>
  <Head title="Ingresar" />
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo m-0">
        <h1>ETARN</h1>
      </div>
      <div class="login-box">
        <form
          class="login-form"
          id="login-form"
          method="post"
          action="./api/ingresar"
        >
          <h4 class="login-head">
            <Icon name="person" class="me-2" />
            Ingresar
          </h4>
          <Input type="email" name="email" required>CORREO ELECTRÓNICO</Input>
          <Input type="password" name="password" required>CONTRASEÑA</Input>
          <div class="mb-3">
            <div class="utility d-flex justify-content-between text-center">
              <p class="semibold-text mb-2">
                <a href="#forget-form" data-toggle="flip">
                  ¿Olvidaste tu contraseña?
                </a>
              </p>
              <p class="semibold-text mb-2">
                <a href="#register-form" data-toggle="flip">
                  ¿No tienes una cuenta?
                </a>
              </p>
            </div>
          </div>
          <div class="mb-3 btn-container d-grid">
            <button class="btn btn-primary btn-block">
              <Icon name="box-arrow-in-down-right" class="me-2 fs-5" />
              INGRESAR
            </button>
          </div>
        </form>
        <form
          id="forget-form"
          class="forget-form"
          action="./restablecer-contraseña"
          method="post"
        >
          <h4 class="login-head">
            <Icon name="person-lock" class="me-2" />
            ¿Olvidé mi contraseña?
          </h4>
          <Input type="email" name="email">CORREO ELECTRÓNICO</Input>
          <div class="mb-3 btn-container d-grid">
            <button class="btn btn-primary btn-block">
              <Icon name="unlock" class="me-2 fs-5" />
              RESTABLECER
            </button>
          </div>
          <div class="mb-3 mt-3">
            <p class="semibold-text mb-0">
              <a href="#login-form" data-toggle="flip">
                <Icon name="chevron-left" class="me-1" />
                Volver al ingreso
              </a>
            </p>
          </div>
        </form>
        <form
          class="forget-form"
          id="register-form"
          method="post"
          action="./api/registrarse"
        >
          <h4 class="login-head">
            <Icon name="person" class="me-2" />
            Registrarme
          </h4>
          <Input
            name="name"
            required
            minlength={3}
            pattern={htmlPattern.name}
            title={patternTitles.name}>NOMBRE</Input
          >
          <Input type="email" name="email" required>CORREO ELECTRÓNICO</Input>
          <Input
            type="password"
            name="password"
            required
            pattern={htmlPattern.password}
            title={patternTitles.password}>CONTRASEÑA</Input
          >
          <div class="mb-3">
            <div class="utility">
              <p class="semibold-text mb-2">
                <a href="#login-form" data-toggle="flip">
                  Ya tengo una cuenta
                </a>
              </p>
            </div>
          </div>
          <div class="mb-3 btn-container d-grid">
            <button class="btn btn-primary btn-block">
              <Icon name="box-arrow-in-down-right" class="me-2 fs-5" />
              REGISTRARME
            </button>
          </div>
        </form>
      </div>
    </section>
    <Scripts />
    <script>
      import $ from "jquery";

      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').on("click", ({ target }) => {
        $(".login-box").toggleClass("flipped");
        $(".login-box form").hide();
        $(target.getAttribute("href") as string).fadeIn();

        return false;
      });
    </script>
  </body>
</html>

<style>
  body {
    overflow-y: scroll;
  }

  .login-content .login-box {
    min-height: 400px;
  }

  .login-content .login-box.flipped {
    min-height: 475px;
    margin-bottom: 2rem;
  }
</style>
