---
import SupportRequests from "../components/SupportRequests.astro";
import WeeklySales from "../components/WeeklySales.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Inicio"
  breadcrumbItems={[{ href: "./inicio", slot: "Inicio" }]}
  iconName="speedometer"
>
  <div class="row">
  </div>
  <div class="row">
    <WeeklySales />
    <SupportRequests />
  </div>
</Layout>
