---
import Icon from "@/components//Icon.astro";
import type { ComponentWithIcon } from "@/types";

interface Props extends ComponentWithIcon {
  href: string;
}

function addSessionToHref(href: string): string {
  return `${href}?session=${new URL(Astro.request.url).searchParams.get("session")}`
}
---

<li>
  <a class="dropdown-item" href={addSessionToHref(Astro.props.href)}>
    <Icon name={Astro.props.iconName} class="me-2 fs-5" />
    <slot />
  </a>
</li>
