---
import Icon from "@/components//Icon.astro";
import { SESSION_QUERY_PARAM_NAME } from "@/configs";
import type { ComponentWithIcon } from "@/types";

interface Props extends ComponentWithIcon {
  href: string;
}

function addSessionToHref(href: string): string {
  return `${href}?${SESSION_QUERY_PARAM_NAME}=${new URL(Astro.request.url).searchParams.get(SESSION_QUERY_PARAM_NAME)}`
}
---

<li>
  <a class="dropdown-item" href={addSessionToHref(Astro.props.href)}>
    <Icon name={Astro.props.iconName} class="me-2 fs-5" />
    <slot />
  </a>
</li>
