---
import "@/sass/main.scss";

interface Props {
  title: string
}
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <base href={import.meta.env.BASE_URL} />
  <link rel="icon" href="./images/favicon.png" />
  <title>{Astro.props.title} - ETARN</title>
  <slot />
</head>
