---
interface Props extends astroHTML.JSX.InputHTMLAttributes {}

const id = crypto.randomUUID();
---

<div class="mb-3">
  <label for={id} class="form-label">
    <slot />
  </label>
  <input id={id} class="form-control" {...Astro.props} />
</div>
