---
import Icon from "@/components/Icon.astro";
---

<div class="page-error tile">
  <h1 class="text-danger">
    <Icon name="exclamation-circle" />
    Error 404: Página no encontrada
  </h1>
  <p>La página que has solicitado no fue encontrada.</p>
  <p>
    <a class="btn btn-primary" href="javascript:window.history.back()">
      Volver
    </a>
  </p>
</div>
