---
import menuItems from "@/data/menu-items.json";
import MenuItem from "@/components/MenuItem.astro";
import type { IconName, User } from "@/types";

const { loggedUser } = Astro.locals as { loggedUser: User | null };
---

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <img
      class="app-sidebar__user-avatar ratio ratio-1x1"
      src="./images/user-avatar.png"
    />
    <div>
      <p class="app-sidebar__user-name">{loggedUser?.name}</p>
      <p class="app-sidebar__user-designation">
        {loggedUser?.admin ? "Administrador" : "Secretario"}
      </p>
    </div>
  </div>
  <ul class="app-menu">
    {
      menuItems.map(({ href, iconClasses, slot, subItems }) => (
        <MenuItem
          href={href}
          iconName={iconClasses as IconName}
          subItems={subItems || undefined}
        >
          {slot}
        </MenuItem>
      ))
    }
  </ul>
</aside>
