<div class="col-md-6">
  <div class="tile">
    <h3 class="tile-title">Peticiones de soporte</h3>
    <div class="ratio ratio-1x1">
      <div id="supportRequestChart"></div>
    </div>
  </div>
</div>

<script>
  import { createAndObserveEchart } from "../scripts/helpers";

  createAndObserveEchart("#supportRequestChart", {
    tooltip: {
      trigger: "item",
    },
    legend: {
      orient: "horizontal",
    },
    series: [
      {
        name: "Peticiones de soporte",
        type: "pie",
        radius: "50%",
        data: [
          { value: 30, name: "Progreso" },
          { value: 5, name: "Retrasadas" },
          { value: 10, name: "Completas" },
        ],
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 0,
            shadowColor: "rgba(0, 0, 0, 50%)",
          },
        },
      },
    ],
  });
</script>
