<div class="col-md-6">
  <div class="tile">
    <h3 class="tile-title">Ventas - Última semana</h3>
    <div class="ratio ratio-1x1">
      <div id="salesChart"></div>
    </div>
  </div>
</div>

<script>
  import { createAndObserveEchart } from "../scripts/helpers";

  createAndObserveEchart("#salesChart", {
    xAxis: {
      type: "category",
      data: ["Lun", "Mar", "Mie", "Jue", "Vie", "Sáb", "Dom"],
    },
    yAxis: {
      type: "value",
      axisLabel: {
        formatter: "💲{value}",
      },
    },
    series: [
      {
        data: [15, 23, 22.4, 21.8, 13.5, 14.7, 26],
        type: "line",
        smooth: true,
      },
    ],
    tooltip: {
      trigger: "axis",
      formatter: "<b>{b0}:</b> 💲{c0}",
    },
  });
</script>
